.container {
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  border-radius: 0.25rem;
  flex-flow: column wrap;
  transition: box-shadow 0.5s;
}

.container:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.card_content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem 0rem 0.5rem;
}